<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div *ngIf="action != 'Remover'">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Data de aniversário</mat-label>
            <input matInput [(ngModel)]="data.birthdate">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Código da companhia</mat-label>
            <input matInput [(ngModel)]="data.companyId">
        </mat-form-field>
    </div>

    <p *ngIf="action == 'Remover'">Deseja remover o usuário: {{data.email}} ?</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>