<mat-card class="main-dashboard">
    <mat-card-header>
        <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="center main-content">

            <div class="help-block">
                <span *ngIf="(users | json) == '[]'">Sem informações cadastradas.</span>
                <button (click)="openDialog('Cadastrar', {})" mat-raised-button class="create-button">Cadastrar</button>
            </div>
            <br>
            <table *ngIf="(users | json) != '[]'" mat-table class="table-list" [dataSource]="users"
                class="mat-elevation-z8">
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="birthdate">
                    <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
                    <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
                </ng-container>

                <ng-container matColumnDef="companyId">
                    <th mat-header-cell *matHeaderCellDef>Código da Companhia</th>
                    <td mat-cell *matCellDef="let element"> {{element.companyId}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="action-button" (click)="openDialog('Atualizar', element)"><span class="material-icons">edit</span></a>
                        &nbsp;
                        <a class="action-button" (click)="openDialog('Remover', element)"><span class="material-icons">delete</span></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>