.main-dashboard {
    width: 60%;
    margin: 80px auto;
}

.center {
    margin: 0 auto;
}

table {
    width: 100%;
    table-layout: fixed;
}
  
.table-list {
    padding: 20px;
}

.main-content {
    width: 100%;
    margin-bottom: 60px;
}

.help-block {
    margin-top: 30px;
    padding: 15px;
}

.create-button {
    float: right;
    margin-bottom: 20px;
}

.action-button {
    cursor: pointer;
}